h1 {
    text-align: center;
}

#game-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#gameboard {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}